.main {
    width: 1400px;
    margin: 0 auto 100px;
    min-height:50vh;
}
.main *{text-align:left;}

.main .mainBox {
    width: inherit;
    height: auto;
}

.main .mainBox .todoLists {
    width: inherit;
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    gap:10px;
    overflow:scroll;
    border-radius:8px;
    background-color:#cccccc;
    justify-content:flex-start;
    min-height:240px;
}

.main .mainBox .todoLists::-webkit-scrollbar {
    display:none;
  }
  
.main .mainBox .todoLists .listsLi {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    width: calc(25% - 10px);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow:hidden;
    z-index: 2;
    height:200px;
}
.main .mainBox .todoLists .listsLi .content{width:280px;margin-bottom:20px;}
.main .mainBox .todoLists .listsLi input.content{border:1px solid #0091ea;height:45px;line-height:1em;font-size:20px;text-indent:10px;}
.main .dateWrap{display:flex;flex-direction:row;gap:0 20px;color:#fff;}
.main .buttonWrap{display:flex;flex-direction:row;gap:0 10px;margin-top:20px;color:#000 !important;}
.main .date{padding:5px;border-radius:5px;background-color:#015081;}
.main .cate{padding:5px;border-radius:5px;background-color:#0091ea}
.main .modi,.main .del{padding:5px;border-radius:5px;background-color:bisque;cursor: pointer;}
.main .modalBtn{width:100%;padding:20px 0;display:flex;justify-content:flex-end;}
.main .modalBtn .addButton{width:150px;height:60px;background-color:#0091ea;border-radius:8px;font-size:20px;color:#fff;text-align:center;}
.select{border:1px solid #0091ea;border-radius:8px;width:120px;}
@media (max-width:749px) {
  .main .modalBtn .addButton{width:100%;}
  .main{max-width:750px;width:auto;padding:0 20px;margin-bottom:50px;}
  .main .mainBox .todoLists{height:500px;overflow:scroll;}
  .main .mainBox .todoLists .listsLi{
    width:100%;
    height:200px;
  }
  .main .buttonWrap{
    width:100%;
  }
  .main .mainBox .todoLists .listsLi .content{width:auto;}
  .main .dateWrap{gap:0 10px;}
  .main .modalBtn{padding:20px 0 30px 0;}
}